img{
    max-width: 100%;
    width: auto;
    height: auto;
}

:root{
    --links-color: #F18F01;
    --primary-color: #FFFFFE;
    --background-secondary-color: #D8EEFE;
    --txt-color: #5F6C7B;
    --title-primary-color:#094067;
    --title-secondary-color: #ED7B84;
    scroll-behavior: smooth;
}
