body,
html {
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100vh;
    z-index: 0;
    background-color: white;
    --btn-color: #3da9fc;
    --btn-secondary-color: #094067;
}

main {
    margin-top: 27px;
    @include media(small) {
        /* margin:10px; */
    }
}

section {
    padding: 25px 21px 25px 25px;
    @include media(small) {
        padding: 29px;
    }
    @include media(medium) {
        padding: 56px 129px 50px;
    }
    @include media(large) {
        padding: 53px 121px 53px;
    }
}
.litle_title {
    text-align: center;
    font-size: 16px;
    font-family: var(--Raleway-Regular);
    color: var(--btn-secondary-color);
    margin-bottom: 23px;
    @include media(small) {
        font-size: 20px;
    }
}
p {
    color: #5f6c7b;
    line-height: 1.8;
}

.top_circle {
    background-color: #d2e8f9;
    position: relative;
    margin-top: 10px;
    @include media(large) {
        margin-top: 20px;
    }
    &::before {
        position: absolute;
        top: -10px;
        left: 0;
        content: "";
        width: 100%;
        display: block;
        height: 20px;
        border-radius: 50%;
        background-color: #d2e8f9;
        @include media(large) {
            top: -20px;
            height: 40px;
        }
    }
    &--white {
        background-color: white;
        &::before {
            background-color: white;
        }
    }
}
.content{
    max-width: 1920px;
    margin: auto;
}
.content-header{
    height: 100%;

}




