body,
html {
    max-width: 1920px;
    margin: auto;
    /*    overflow-x: hidden; */
    scroll-behavior: smooth;
    height: 100vh;
    z-index: 0;
    --btn-color: #3da9fc;
    --btn-secondary-color: #094067;
    --roboto-Medium: "roboto-Medium";
    --roboto-Regular: "roboto-Regular";
    --Raleway-Black: "Raleway-Black";
    --Raleway-Bold: "Raleway-Bold";
    --Raleway-ExtraBold: "Raleway-ExtraBold";
    --Raleway-Medium: "Raleway-Medium";
    --Raleway-Regular: "Raleway-Regular";
    --Raleway-SemiBold: "Raleway-SemiBold";
}

main {
    margin-top: 58px;
    @include media(medium) {
        margin: 0;
    }
}

.btn {
    width: 119px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 2px;
    filter: drop-shadow(0px 8px 24px rgba(149, 157, 165, 0.2));
    text-decoration: none;
    font-family: var(--Raleway-ExtraBold);
    @include media(small) {
        max-width: 128px;
        width: 100%;
        font-size: 20px;
    }
    @include media(medium) {
        max-width: 162px;
        font-size: 24px;
        height: 58px;
    }
}

h2 {
    font-size: 29px;
    font-family: var(--Raleway-ExtraBold);
    text-align: center;
    color: #094067;
    margin-bottom: 23px;
    @include media(small) {
        font-size: 36px;
    }
    @include media(medium){
           font-size: 36px; 
    }
}

section {
    padding: 25px 21px 25px 25px;
    @include media(small) {
        padding: 29px;
    }
    @include media(medium) {
        padding: 115px 129px 0;
    }
}
.litle_title {
    text-align: center;
    font-size: 16px;
    font-family: var(--Raleway-Regular);
    color: var(--btn-secondary-color);
    margin-bottom: 23px;
    @include media(small) {
        font-size: 20px;
    }
}
p {
    color: #5f6c7b;
    line-height: 1.8;
}
