.about {
    border: 1px solid #D2E8F9;

    &-content{
        max-width: 1920px;
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: #fffffe;
        padding-top: 52px;
        @include media(large) {
            flex-direction: row;
        }
    }

    &__content {
        @include media(large) {
            height: auto;
            display: flex;
            flex-direction: column;

        }
    }
    &__user {
        margin: auto;
        margin-bottom: 70px;
        @include media(small) {
            max-width: 292px;
            width: 100%;
        }
        @include media(large) {
            margin-right: 231px;
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 22px;
        @include media(large) {
            flex-direction: row;
        }

        img {
            margin-right: 42px;
            max-width: 78px;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 21px;
        &-title{
            color: #094067;
            font-size: 20px;
            font-family: var(--Raleway-ExtraBold);
        }
        a{
            color: #ED7B84;
        }
    }
    h2 {
        text-align: left;
    }
    p {
        font-size: 18px;
        font-family: var(--roboto-Medium);
        @include media(medium) {
            font-size: 21px;
        }
    }
}
