.home {
    margin: auto;
    padding: 1px 21px 24px 25px;

    @include media(medium) {
        padding: 39px 121px 1px;
    }
    @include media(large){
        padding: 119px 121px 1px;
    }
    &__containt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
        margin-bottom: 23px;
        @include media(medium) {
            flex-direction: row-reverse;
            justify-content: space-between !important;
            align-items: center;
        }
        p:first-child {
            font-size: 25px;
            color: var(--btn-color);
            font-family: var(--Raleway-Black);
            @include media(small) {
                font-size: 44px;
            }
            @include media(large) {
                font-size: 48px;
            }
        }
        h1 {
            @include media(small) {
                font-size: 60px;
                max-width: 396px;
            }
            font-size: 40px;
            max-width: 264px;
            font-family: var(--Raleway-Black);
            color: var(--btn-secondary-color);
            font-weight: 900;
        }
        @include media(medium) {
            font-size: 60px;
        }
        @include media(large) {
            font-size: 64px;
        }
    }
    &__containt-img {
        max-width: 245px;
        width: 100%;
        @include media(small) {
            max-width: 413px;
        }
        @include media(large) {
            max-width: 564px;
        }
    }
    &__containt-titre {
        display: flex;
        flex-direction: column;
        gap: 37px;
        @include media(small){
            gap: 25px;
        }
    }
    &__containt-name {
        color: var(--btn-secondary-color);
        font-family: "Raleway-Black";
    }
    &__containt-slogan {
        font-size: 20px;
        font-family: var(--Raleway-Medium);
        @include media(small) {
            font-size: 22px;
        }
        @include media(large) {
            font-size: 24px;
        }
    }
    &__containt-reseau {
        img {
            max-height: 30px;
            @include media(medium) {
                max-height: 41px;
            }
            @include media(large) {
                animation-name: glissement;
                animation-duration: 2s;
                animation-name: glissement;
                animation-timing-function: ease;
            }
        }
        img:hover {
            transform: scale(1.2);
            transition-duration: 0.5s;
        }
        width: 187px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media(medium) {
            width: 226px;
        }
    }
    &__containt-btn {
        width: 261px;
        display: flex;
        justify-content: space-between;
        @include media(small) {
            width: 270px;
        }
        @include media(medium) {
            width: 353px;
        }
    }
    &__btn-contact {
        background-color: var(--btn-color);
        color: white !important;
    }
    &__btn-project {
        background-color: #fff;
        color: var(--btn-color);
    }
    .home__btn-project:hover {
        @include media(large) {
            background-color: var(--btn-color);
            border: none;
            color: #fff !important;
        }
    }
    &__arrow {
        width: 22px;
        height: 26px;
        img {
            display: block;
            margin: auto;
            margin-top: 47px;
            animation-duration: 2s;
            animation-name: glissement;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            @include media(small) {
                margin-top: 28px;
            }
            @include media(medium) {
                margin-top: 78px;
            }
        }
    }
}
@keyframes glissement {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
