.service {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    &__card {
        max-width: 439px;
        width: 100%;
        @include media(medium) {
            max-width: 538px;
        }
        @include media(large) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 1138px;
            width: 100%;
            max-height: 521px;
            height: 100%;
            padding-bottom: 10px;
        }
    }

    &__card-front,
    &__card-design {
        max-width: 100%;
        background-color: #fff;
        filter: drop-shadow(0px 8px 24px rgba(149, 157, 165, 0.2));
    }
    &__card-front {
        margin-bottom: 66px;
        height: auto;
        padding-bottom: 10px;
        @include media(large) {
            margin-bottom: 0;
        }

    }
    &__card-design {
        height: auto;
        padding-bottom: 10px;
    }
    &__card-img {
        @include media(medium) {
            width: 100%;
        }
    }
    &__card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 53px;
        h3 {
            font-size: 32px;
            color: rgba(114, 198, 239, 1);
            font-family: var(--Raleway-SemiBold);
            margin-bottom: 28px;
            @include media(small) {
                font-size: 40px;
            }
        }
    }
    &__card-textOff {
        display: none;
    }

    &__card-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        @include media(small) {
            img {
                max-width: 50px;
                width: 100%;
            }
        }
        @include media(large) {
            margin-bottom: 10px;
        }
    }
    &__card-figma {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.card-textOn {
    display: block;
    text-align: center;
    padding: 0 16px;
    color: #094067;
    @include media(small) {
        font-size: 18px;
    }
    @include media(medium) {
        font-size: 20px;
    }
}
.logo-off {
    display: none;
}
.cards {
    padding-bottom: 32px;
    @include media(medium) {
        padding-bottom: 55px;
    }
    @include media(large) {
        padding: 0;
    }
    
}
