.service {
    &__card {
        display: flex;
        flex-direction: column;
        max-width: 333px;
        align-items: center;
        justify-content: center;
        gap: 47px;
        margin: auto;
        @include media(small) {
            max-width: 664px;
        }
        @include media(medium) {
           max-width: 740px;
        }
        @include media(large) {
            flex-direction: row;
            max-width: 1194px;

            gap: 47px;
        }
    }
    &__card-default {
        text-align: center;
        width: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 29px;
        height: 340px;
        background: linear-gradient(90deg, #2193b0 0%, #6dd5ed 100%);
        box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
        border-radius: 3px;
        @include media(small) {
            padding: 102px 51px ;
        }
        @include media(medium) {
            padding: 176px 67px ;
        }
        @include media(large) {
            
            padding: 217px 14px;
        }
        h3 {
            font-size: 24px;
            color: #fff;
            font-family: var(--Raleway-Bold);
            text-align: center;
            @include media(small) {
                font-size: 30px;
            }
            @include media(small) {
                font-size: 36px ;
            }
            @include media(large) {
               font-size: 24px;
            }
        }
        p {
            color: white;
            font-family: var(--roboto-Regular);
            font-size: 17px;
            margin: 0;
            @include media(small) {
                font-size: 22px;
            }
            @include media(small) {
              font-size: 24px;
            }
            @include media(large) {
                font-size: 20px;
             }
            }
            img{
                @include media(small) {
                    max-width: 83px;
                    width: 100%;
                }
        }
    }
    &__card-design{
        background: linear-gradient(90deg, #C84E89 0%, #F15F79 100%);
    }

    &__card-responsive{
        background: linear-gradient(90deg, #536976 0%, #292E49 100%);
    }




}
