.content-header{
    max-width: 1920px;
    margin: auto;
    display: flex;
    flex-direction: column;
    @include media(medium) {
        height: 100px;
        display: block;
        flex-direction: row;
    }
}
.header {
    background-color: #fff;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    &__icon-burger {
        display: flex;
        align-items: center;
        height: 40px;
        background-color: #fff;
        @include media(small) {
            height: 78px;
        }
        @include media(medium) {
            display: none;
        }
        img {
            margin-left: auto;
            margin-right: 21px;
            @include media(medium) {
                display: none;
            }
        }
    }
    &__nav-off {
        display: none;
        @include media(medium) {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 905px;
            margin: auto;
            font-family: var(--Raleway-Bold);
        }
        @include media(large) {
            max-width: 1265px;
        }
        img {
            max-width: 200px;
            margin-bottom: 15px;
            @include media(large) {
                max-width: 100%;
                margin: 0;
            }
        }
        ul {
            @include media(medium) {
                display: flex;
                flex-direction: row;
                gap: 29px;
                a {
                    border-bottom: 3px solid transparent;
                    text-decoration: none;
                    color: #4fb8f9;
                    font-size: 22px;
                    transition: border-bottom 0.3s;
                }
                a:hover {
                    color: #4fb8f9;
                    border-bottom: 3px solid #424242;
                }
            }
        }
    }
}
.nav__open {
    border-top: 1px solid #3da9fc;
    background-color: white;
    z-index: 2;
    position: sticky;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 50vh;
    &::before {
        position: absolute;
        bottom: -10px;
        left: 0;
        content: "";
        width: 100%;
        display: block;
        height: 20px;
        border-radius: 50%;
        background-color: white;
    }
    @include media(small) {
        height: 69vh;
    }
    @include media(medium) {
        position: static;
        background-image: none;
        flex-direction: row;
        height: 100%;
        max-width: 905px;
        justify-content: space-between;
        margin: auto;
    }
    @include media(large) {
        max-width: 1265px;
    &::before {
        display: none;
    }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 74px;
        height: 225px;
        @include media(small) {
            height: 453px;
        }
        @include media(medium) {
            flex-direction: row;
            height: auto;
            width: auto;
        }
    }
    ul li a {
        text-decoration: none;
        color: #3da9fc;
        text-align: left;
        font-family: var(--Raleway-SemiBold);
        @include media(medium) {
        }
    }
}
.noScroll {
    overflow-y: hidden;
}

.nav-open {
    overflow-y: hidden;
    @include media(medium) {
        overflow-y: auto;
    }
}
.nav-open::after {
    display: inline-block;
    top: 0;
    content: " ";
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    background: rgba(9, 8, 8, 0.62);
    @include media(medium) {
        display: none;
    }
}
.nobckg {
    background-color: transparent;
    @include media(medium) {
        background-color: white;
    }
}
