@font-face {
    font-family: "roboto-Medium";
    src: url("../font/roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: "roboto-Regular";
    src: url("../font/roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Raleway-Black";
    src: url("../font/raleway/Raleway-Black.ttf");
}
@font-face {
    font-family: "Raleway-Bold";
    src: url("../font/raleway/Raleway-Bold.ttf");
}
@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("../font/raleway/Raleway-ExtraBold.ttf");
}
@font-face {
    font-family: "Raleway-Medium";
    src: url("../font/raleway/Raleway-Medium.ttf");
}
@font-face {
    font-family: "Raleway-SemiBold";
    src: url("../font/raleway/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "Raleway-Regular";
    src: url("../font/raleway/Raleway-Regular.ttf");
}


